<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Number Modifier</title>
    </head>
    <body>
    <form action = "/home" method="POST">
        <label>
            <input type="number" name="num" required>
        </label>
        <button type="submit">Submit</button>
    </form>

    <div th:if="${doubled != null}">
        <p>Doubled Number: <span th:text="${doubled}"></span></p>
        <p>Squared Doubled Number: <span th:text="${squaredDoubled}"></span></p>    </div>
    </body>
</html>

